@model IEnumerable<Domain.Entities.Children>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container p-3 bg-white">
    <div class="row pt-4 py-2">
        <div class="col-6">
            <h2 class="text-primary">Employee List</h2>
        </div>
        <div class="col text-right">
            <a asp-controller="Home" asp-action="Index" class="btn btn-info mx-2">
                Children List
            </a>
            <a asp-action="Create" class="btn btn-success">Create New Children</a>
        </div>
    </div>

    <br />
    <table class="table table-bordered table-stripped py-2" style="width:100%">
        <thead>
            <tr>
                <th>
                    Last Name
                </th>
                <th>
                    Name
                </th>
                <th>
                    Middle Name
                </th>
                <th>
                    Birth Date
                </th>
                <th>
                    Parent
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                @foreach (var obj in Model)
                {
                    <tr>
                        <td nowrap>@obj.LastName</td>
                        <td nowrap>@obj.Name</td>
                        <td nowrap>@obj.MiddleName</td>
                        <td nowrap>@obj.BirthDate</td>
                        <td nowrap>@obj.Employee.Name @obj.Employee.LastName</td>

                        <td class="text-center">
                            <div class="w-65 btn-group" role="group">
                                <a asp-route-Id="@obj.Id" asp-action="Edit" class="btn btn-primary">
                                    Edit
                                </a>
                                <a asp-route-Id="@obj.Id" asp-action="Details" class="btn btn-primary">
                                    Details
                                </a>
                                <a asp-route-Id="@obj.Id" asp-action="Delete" class="btn btn-danger">
                                    Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <p>No product exist.</p>
            }
        </tbody>
    </table>
</div>